@use "../../shared/sass/colors.scss" as *;

nav {
    display: flex;
    position: fixed;
    z-index: 5;

    height: 50px;
    top: 0;
    left: 0;
    right: 0;

    background: $primary;
    color: white;

    .nav-image {
        width: 35px;
        margin-right: 5px;
    }
    
    a {
        color: white;
        margin: auto 0;
    }

    ul {
        list-style-type: none;
        display: flex;
        margin: 0 0 0 auto;
    
        li {
            margin: auto 0;
            text-decoration: none;
        }
    }
}