<nav class="mat-elevation-z2">
    <a routerLink="">
        <button mat-button>
            <img src="../assets/images/extension-icon.png" class="nav-image"> OPeNDAP
        </button>
    </a>

    <ul>
        <li>
            <button mat-button [matMenuTriggerFor]="softwareMenu">Software</button>
            <mat-menu #softwareMenu="matMenu">
                <a routerLink="/software">
                    <button mat-menu-item>Software Home</button>
                </a>
                <a routerLink="/software/hyrax/guide">
                    <button mat-menu-item>Installation & Configuration Guide</button>
                </a>
                <a routerLink="/software/hyrax">            
                    <button mat-menu-item [matMenuTriggerFor]="menu">Hyrax</button>
                    <mat-menu #menu="matMenu">
                        <a *ngFor="let version of versions" routerLink="software/hyrax/releases/{{version}}">
                            <button mat-menu-item>{{version}}</button>
                        </a>
                    </mat-menu>
                </a>
            </mat-menu>
        </li>
        <li>
            <button mat-button [matMenuTriggerFor]="supportMenu">Support</button>
            <mat-menu #supportMenu="matMenu">
                <a routerLink="/support">
                    <button mat-menu-item>Support Home</button>
                </a>
                <a routerLink="/support/faq">
                    <button mat-menu-item>FAQ</button>
                </a>
            </mat-menu>
        </li>
        <li>
            <a routerLink="/about"><button mat-button>About OPeNDAP</button></a>
        </li>
    </ul>
</nav>