<app-sub-nav *ngIf="pageData" [pageTitle]="pageData.pageTitle" [headings]="headings"></app-sub-nav>
<div *ngIf="pageData" class="markdown-body body">
  <h1>{{pageData.pageTitle}}</h1>

  <div *ngFor="let thisSection of pageData.sections">
    <!-- <h2 *ngIf="!thisSection.hideTitle && thisSection.title !== pageData.pageTitle" [id]="thisSection.id">
      {{thisSection.title}}
    </h2> -->

    <ng-container [ngSwitch]="thisSection.sectionType">
      <app-adoc
        *ngSwitchCase="'standard'"
        [content]="thisSection.parsedFile"
        (headings)="processHeadings($event)">
      </app-adoc>

      <div
        *ngSwitchCase="'html'"
        [innerHTML]="thisSection.parsedFile | safeHtml">
      </div>

      <mat-tab-group *ngSwitchCase="'tabbed'" dynamicHeight>
        <mat-tab *ngFor="let thisTab of thisSection.tabs" label="{{thisTab.title}}">
          <mat-card class="tab-content">
            <app-adoc
              [content]="thisTab.parsedFile"
              (headings)="processHeadings($event)"></app-adoc>
          </mat-card>
        </mat-tab>
      </mat-tab-group>

      <div class="gallery" *ngSwitchCase="'gallery'">
        <div *ngFor="let galleryItem of thisSection.parsedFile.gallery" class="gallery-item">
          <img [src]="galleryItem.imageURL" />
          <strong>{{galleryItem.title}}</strong>
          <p [innerHTML]="galleryItem.subTitle"></p>
        </div>
      </div>

      <div class="cards" *ngSwitchCase="'cards'">
        <div class="card" *ngFor="let galleryItem of thisSection.parsedFile.cards">
          <mat-card>
            <mat-card-title>{{galleryItem.title}}</mat-card-title>
            <mat-card-content [innerHTML]="galleryItem.body"></mat-card-content>
          </mat-card>
        </div>
      </div>
    </ng-container>
  </div>
</div>
