<div class="not-found-body">
    <mat-card class="mat-elevation-z0">
        <mat-card-header>
            <img mat-card-avatar src="../../../assets/images/hal.png" alt="Oops!">
            <mat-card-title>404 - Not Found</mat-card-title>
            <mat-card-subtitle>I'm sorry, Dave. I'm afraid I can't do that.</mat-card-subtitle>
        </mat-card-header>
       
        <mat-card-content>
            <p>
                It seems that were were unable to find the page you're looking for.
                Try out one of the links below to assist you on
                your journey, or reach out to support@opendap.org for assistance:
            </p>
            <ul>
                <li><a routerLink=''>Home</a></li>
                <li><a routerLink='/software'>Software</a></li>
                <li><a routerLink='/support'>Support</a></li>
                <li><a routerLink='/support/faq'>FAQ</a></li>
                <li><a routerLink='/about'>About OPeNDAP</a></li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>