<div>
    <h2 *ngIf="download&&!title">Software downloads for Hyrax {{ download.hyraxVersion }}</h2>
    <h2 *ngIf="title">{{title}}</h2>

    <mat-accordion>
        <mat-expansion-panel *ngIf=downloadDisplay class="top-gap">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="right-gap">save_alt</mat-icon>
                    Software downloads for Hyrax {{ download.hyraxVersion }}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-accordion>
                <mat-expansion-panel *ngFor="let thisDownload of downloadDisplay" id="download">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <img src="{{thisDownload.image}}" class="logo-small">
                            {{thisDownload.title}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div [innerHTML]="thisDownload.html"></div>

                </mat-expansion-panel>
            </mat-accordion>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf=installationDisplay class="bottom-gap" id="installation">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="right-gap">add_to_queue</mat-icon>
                    Installation Instructions
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div [innerHTML]="installationDisplay"></div>
        </mat-expansion-panel>
    </mat-accordion>
</div>