<div class="download">
    <h2 *ngIf="download && !title">Software downloads for Hyrax {{ download.hyraxVersion }}</h2>
    <h2 *ngIf="title">{{ title }}</h2>

    <mat-accordion>
        <mat-expansion-panel *ngIf="downloadDisplay" class="header-icon">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="header-icon">save_alt</mat-icon>
                    Software downloads for Hyrax {{ download.hyraxVersion }}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-accordion>
                <mat-expansion-panel *ngFor="let download of downloadDisplay">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <img [src]="download.image" class="small-logo">
                            {{ download.title }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-markdown-div [innerHTML]="download.html"></app-markdown-div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="installationDisplay">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="header-icon">add_to_queue</mat-icon>
                    Installation Instructions
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-markdown-div [innerHTML]="installationDisplay"></app-markdown-div>
        </mat-expansion-panel>
    </mat-accordion>
</div>