.faq {
    max-width: 800px;
    margin: 0 auto;

    h1 {
        font-weight: 300;
        margin: 28px 0 21px 0;
    }

    h2 {
        font-weight: 300;
        margin: 28px 0 14px 0;
    }

    .mat-form-field {
        width: 100%;
    }

    ::ng-deep .mat-tab-body-content {
        padding: 7px 5px;
    }
}