@import "./variables.scss";

:host ::ng-deep .body {
  // margin-top: $height-toolbar;
  // padding-top: 25px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  line-height: 130%;

  .content {
    margin: 0;
  }

  h1:nth-child(1) {
    text-align: center;
    margin-bottom: 5rem;
  }

  h1 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0;
    text-transform: none;
  }

  h2 {
    color: #3c4043;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 64px 0 0 0;
  }

  h3 {
    color: #3c4043;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    padding: 52px 0 0 0;
  }

  h4 {
    font-weight: 300;
    font-size: 1.25em;
  }

  p,
  ul,
  ol {
    line-height: 140%;
    color: $text-colorA;
    text-align: justify;
  }

  ul ul {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  p {
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    letter-spacing: -.021em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-top: 13px;
  }

  li {
    p {
      margin: 0;
    }
  }

  pre code {
    width: 100%;
    display: flex;
    padding: 10px 20px;
  }

  code {
    background: whitesmoke;
    padding: 3px 5px;
  }

  strong {
    font-weight: 500;
  }

  table {
    h3,
    h4 {
      margin: 0;
      padding: 0;
      color: $text-colorA;
      border-bottom: none;
    }

    p:nth-child(1) {
      margin-top: 7px;
    }

    td {
      vertical-align: top;

      img {
        margin-top: 6px;
        margin-right: 14px;
      }
    }
  }
}
