@import './variables.scss';

.content {
    display: flex;
    flex-direction: column;
    margin-top: $height-toolbar;

    h1 {
        font-weight: 300;
        margin: 60px 0 30px 0;
        font-size: 3em;
    }

    h2 {
        font-weight: 300;
        margin-bottom: 0;
        font-size: 1.5em;
    }

    h3 {
        line-height: 130%;
        margin-bottom: 60px;
        font-weight: 300;
    }

    &__above-fold {
        display: flex;
        flex-direction: column;
        z-index: 1;

        padding-top: 50px;

        color: white;
        text-align: center;
        background: linear-gradient(180deg,
            mat-color(mat-palette($app-blue, 500)) 0%,
            mat-color(mat-palette($app-blue, 700)) 100%) !important;
        
        &--image {
            width: 250px !important;
            margin: 30px auto;
        }
    }

    &__fold {
        display: flex;

        &--block {
            display: flex;
            flex-direction: column;
            padding: 0 15px;

            p {
                text-align: center !important;
            }
            
            .mat-icon {
                font-size: 75px !important;
                width: 75px !important;
                height: 75px !important;
                margin-bottom: 15px !important;
            }
        }

        &--tri {
            width: 33%;
        }
    }

    &__section {
        display: flex;
        padding: 60px;
        max-width: 750px;
        margin: 15px auto;

        h2 {
            font-size: 2em;
            margin-bottom: 30px;
            color: $primary;
        }

        p, ol, ul {
            font-size: 1.2em;
            line-height: 130%;
            text-align: justify;
        }

        &--content {
            max-width: 700px;
        }

        &--primary {
            color: white;
            background-image: linear-gradient(180deg,
                mat-color(mat-palette($app-blue, 500)) 0%,
                mat-color(mat-palette($app-blue, 700)) 100%) !important;
        }

        &--accent {
            background-image: linear-gradient(180deg,
                mat-color(mat-palette($app-green, 500)) 0%,
                mat-color(mat-palette($app-green, 700)) 100%) !important;
        }

        &--icon {
            font-size: 175px;
            width: 175px;
            height: 175px;
            margin-top: 65px;
            background-clip: text;
            color: transparent;
        }

        &--left-auto {
            margin-left: auto;
            margin-right: 30px;
        }

        &--right-auto {
            margin-right: auto;
        }
    }
}