<div class="content">
    <div class="content__above-fold">
        <h1>Hyrax Data Server</h1>

        <img class="content__section--icon content__section--accent content__above-fold--image" src="../../../assets/images/Hyrax-logo.png">

        <h3 class="intro-paragraph">
            Hyrax is the next generation server from OPeNDAP. It utilizes a
            modular design that employs a light weight Java servlet to provide
            the public-accessible client interface, and a back-end daemon,
            the BES, to handle the heavy lifting. The BES uses the same handlers
            that are used with Server3 (also know as the CGI Server) but load
            those at run time.
        </h3>
    </div>

    <div class="content__section flex-direction-column">
        <h2>Benefits of Hyrax</h2>
    
        <div class="content__fold">
            <div class="content__fold--block content__fold--tri">
                <mat-icon class="content__section--icon content__section--accent">router</mat-icon>
                <p>
                    The servlet architecture is faster, more robust,
                    and more secure than CGI invoked Perl scripts.
                </p>
            </div>
            <div class="content__fold--block content__fold--tri">
                <mat-icon class="content__section--icon content__section--accent">device_hub</mat-icon>
                <p>
                    A single installation can handle multiple data representations,
                    such as hdf4, hdf5, and netcdf.
                </p>
            </div>
            <div class="content__fold--block content__fold--tri">
                <mat-icon class="content__section--icon content__section--accent">folder</mat-icon>
                <p>THREDDS catalog functionality.</p>
            </div>
        </div>
    </div>

    <div class="content__section flex-direction-column">
        <h2>Download Latest Version of Hyrax</h2>

        <app-download-widget
            *ngIf="download && installation"
            [download]=download
            [installation]=installation
            [showTitle]=false>
        </app-download-widget>
    </div>
</div>