<div class="faq">
  <h1 *ngIf="title && loadedFromURL">{{ title }}</h1>

  <app-markdown-div [innerHTML]="body"></app-markdown-div>

  <h2>Tags</h2>

  <mat-chip-list aria-label="Tags">
    <a *ngFor="let tag of tags" [routerLink]="tagRouterLink + tag">
      <mat-chip>{{ tag }}</mat-chip>
    </a>
  </mat-chip-list>

  <div class="actions">
    <button mat-icon-button [cdkCopyToClipboard]="link">
      <mat-icon>link</mat-icon>
    </button>

    <a *ngIf="!loadedFromURL" [routerLink]="routerLink" target="_blank">
      <button mat-icon-button>
        <mat-icon>open_in_new</mat-icon>
      </button>
    </a>
  </div>
</div>
