<div *ngIf="download && installation" class="page-padding">
    <h1>{{ getLatestVersion() | titlecase }}</h1>
    
    <app-boilerplate [download]="download" [installation]="installation" [title]="title"></app-boilerplate>

    <div *ngFor="let data of allVersionData">
        <h2>New Features in {{ data.fixVersion | titlecase }}</h2>

        <div *ngFor="let newFeature of data['newFeatures']">
            <h3> {{ newFeature.title }} </h3>

            <div [innerHTML]='newFeature.body'></div>
        </div>

        <h2>Bug Fixes in {{ data.fixVersion | titlecase }}</h2>

        <table>
            <tr>
                <th>Key</th>
                <th>Notes</th>
            </tr>
            <tr *ngFor="let bugFix of data['bugFixes']">
                <td>
                    <a href={{bugFix.url}} target="_blank">{{ bugFix.key }}</a>
                </td>
                <td>
                    {{ bugFix.summary }}
                </td>
            </tr>
        </table>
    </div>
</div>