@import '../../../sass/variables.scss';

nav {
    display: flex;
    z-index: 5;

    height: 50px;
    top: 0;
    left: 0;
    right: 0;

    background: $primary;
    color: white !important;

    #logo {
      flex-grow: 1;
    }

    #nav-image {
        width: 35px;
        margin-right: 5px;
    }

    a {
        color: white;
        margin: auto 0;
    }

    #nav-items {
      display: flex;
      margin: auto 1rem;
    }
}
