<div
  [class.menu]="!subMenu"
  [class.sub-menu]="subMenu">
  <div *ngFor="let menuItem of menu">
    <a *ngIf="menuItem.link" [routerLink]="'/' + menuItem.link">
      <button mat-menu-item>{{ menuItem.name }}</button>
    </a>
    <ng-container *ngIf="menuItem.menuItems">
      <button *ngIf="subMenu" mat-menu-item [matMenuTriggerFor]="menu">
        {{ menuItem.name }}
      </button>
      <button *ngIf="!subMenu" mat-menu-item [matMenuTriggerFor]="menu">
        {{ menuItem.name }}
      </button>
      <mat-menu #menu="matMenu">
        <app-nested-menu [menu]="menuItem.menuItems" [subMenu]="true"></app-nested-menu>
      </mat-menu>
    </ng-container>
  </div>
</div>
