<app-navigation-dock *ngIf="headings" [ids]="headings" [scrollOffset]=170></app-navigation-dock>

<div *ngIf="data" class="markdown-body markdown">
    <div *ngFor="let thisSection of data.sections">
        <h1 id="{{thisSection.id}}">
            {{thisSection.title}}
        </h1>

        <app-adoc
            *ngIf="thisSection.sectionType == 'standard'"
            [content]="thisSection.parsedFile">
        </app-adoc>

        <mat-tab-group *ngIf="thisSection.sectionType == 'tabbed'" dynamicHeight>
            <mat-tab *ngFor="let thisTab of thisSection.tabs" label="{{thisTab.title}}">
                <mat-card class="tab-content">
                    <app-adoc [content]="thisTab.parsedFile"></app-adoc>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>