@import '../../sass/variables.scss';

.markdown-body {
    margin-top: 90px;
}

.tab-content {
    margin-left: 3px;
    margin-top: 8px;
    margin-right: 3px;
    margin-bottom: 24px;
}

.markdown {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

    h1 {
        margin-top: 21px;
        font-weight: 300;
        font-size: 1.75em;
        color: $primary;
        border-bottom: solid 1px $primary;
        padding-bottom: 7px;
    }

    pre {
        white-space: pre-wrap;
    
        code {
            width: 95%;
            padding: 1em;
        }
    }
    
    code {
        display: inline-block;
        background: whitesmoke;
    }

    .bordered {
        padding: 1em;
        border-radius: 4px;
        margin-bottom: 1em;

        h1 {
            margin-top: 0px;
        }
    }
}
