<app-navigation-dock *ngIf="headings" [ids]="headings" [scrollOffset]=170></app-navigation-dock>

<div *ngIf="data" class="markdown-body markdown">
    <div *ngFor="let thisSection of data.sections">
        <h1 id="{{thisSection.id}}">
            {{thisSection.title}}
        </h1>

        <app-adoc
            *ngIf="thisSection.sectionType == 'standard'"
            [content]="thisSection.parsedFile">
        </app-adoc>

        <mat-tab-group *ngIf="thisSection.sectionType == 'tabbed'" dynamicHeight>
            <mat-tab *ngFor="let thisTab of thisSection.tabs" label="{{thisTab.title}}">
                <mat-card class="tab-content">
                    <app-adoc [content]="thisTab.parsedFile"></app-adoc>
                </mat-card>
            </mat-tab>
        </mat-tab-group>

        <div class="gallery" *ngIf="this.thisSection.sectionType == 'gallery'">
            <div *ngFor="let galleryItem of thisSection.parsedFile.gallery" class="gallery-item">
                <img [src]="galleryItem.imageURL" />
                <h2>{{galleryItem.title}}</h2>
                <p [innerHTML]="galleryItem.subTitle"></p>
            </div>
        </div>
    </div>
</div>