<div class="hyrax-body">
    <div class="page-padding intro-section">
        <h1>Hyrax Data Server</h1>

        <img src="../../../assets/images/Hyrax-logo.png">

        <p class="justify intro-paragraph">Hyrax is the next generation server from OPeNDAP. It utilizes a
            modular design that employs a light weight Java servlet to provide the public-accessible client
            interface, and a back-end daemon, the BES, to handle the heavy lifting. The BES uses the same
            handlers that are used with Server3 (also know as the CGI Server) but loads those at run time.</p>
    </div>

    <div class="benefits-section">
        <div class="body-div">
            <h1 class="center padding-bottom">Benefits of Hyrax</h1>

            <div class="benefits">
                <div>
                    <mat-icon class="large-icon">router</mat-icon>
                    <p>The servlet architecture is faster, more robust, and more secure than CGI invoked Perl scripts.
                    </p>
                </div>
                <div>
                    <mat-icon class="large-icon">device_hub</mat-icon>
                    <p>A single installation can handle multiple data representations, such as hdf4, hdf5, and netcdf.
                    </p>
                </div>
                <div>
                    <mat-icon class="large-icon">folder</mat-icon>
                    <p>THREDDS catalog functionality.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="page-padding">
        <app-download-widget *ngIf="download && installation" [download]="download" [installation]="installation"
            [title]="title"></app-download-widget>
    </div>
</div>